pyttsx3
SpeechRecognition
pynput
pyautogui
wikipedia
opencv-python
mediapipe
comtypes
pycaw
screen-brightness-control
eel
playsound==1.0
playsound==1.2.2
pyaudio
transformer
ollama
streamlit
gtts
random
pyjokes
pywhatkit
