body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
}

.container {
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

h1 {
    color: #4caf50;
}

input, select, button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
}

button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h2 {
    color: #333;
}

p {
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 80%;
    word-wrap: break-word;
}
